
@media (max-width: 991px) {
	.navigation-wrap { position: fixed; top: 0; }
	.navbar-custom .navbar-nav > li {
		float: left;
		width: 50%;
	}
	.navbar-custom .navbar-nav > li > a {
		border-width:  0 0 0 0.5rem;
		border-style: solid;
		padding: 2rem;
	}
	a.register {
		position: relative;
		float: right;
		padding: 3rem 2rem;
	}
	.navbar-nav { border-bottom: 1px solid #ebeef0; }

	ul.accordion {font-size: 1.3rem;}
	.schedule-time > sup { font-size: 1.5rem; }
	.schedule-time { font-size: 2.4rem; padding: 1rem;}

	.speaker-contacts { bottom: 70px; }
	.speaker-info h3 { text-align: center; } 
}

@media (max-width: 767px) {

	html { font-size: 50.5% }
	.header-background { height: 500px; }

	.content section,
	.content footer { padding: 1rem 2.5rem; }
	.section-header { margin: 1.5 0 2rem 0; }
	.header-caption .box h1 { font-size: 7rem; }
	.header-caption .box span { font-size: 4rem; }

	/* Schedule */
	.schedule-speaker,
	.schedule-speaker-list { display: none; }
	.schedule-time { padding-bottom: 0; text-align: left;  }

	ul.accordion .schedule-talk a .accordion-title{font-size: 1.7rem; line-height: 1.9rem}
	.schedule-time > sup { font-size: 1.3rem; }
	.schedule-time { font-size: 2.1rem; padding: 0.4rem;}

	.tab-pane .accordion.tracks {
		padding-top: 0.8rem;
		margin: -1.5rem -3rem -0.1rem -3rem;
	}

}

@media (max-width: 560px) {

	ul.accordion li.accordion-heading-time {
		width: 100%;
		padding: 0.6rem;
	}

	ul.accordion.tracks h4.accordion-title {
		line-height:2rem;
		text-align: center;
	}

	ul.tracks .schedule-talk .accordion-title{
		font-size: 1.5rem;
	}

	li.schedule-talk {
		width: 33%;
	}

	span.schedule-time.accent {
		width: 100%;
		text-align: center;
	}

	span.schedule-time-mobile {
		display: block;
	}

	.schedule-time {
		display: none;
	}

	ul.accordion.tracks a.accordion-heading-talk {
		height: 100px;
	}

	ul.accordion.tracks li.accordion-heading-time{
		display: none;
	}

	.tab-pane .accordion.tracks {
		margin: -1.5rem -3rem -0.1rem -3rem;
		padding-top: 0.4rem;
	}
}

@media (max-width: 480px) {

	.header-caption .box h1 { font-size: 5rem; }
	.header-caption .box span { font-size: 2.5rem; }

	.testimonial-avatar { display: none; }
	.testimonial-content { margin: 0; padding: 0; }
	.partner { height: auto; }

	.map { height: 250px; }

	.news-date { width: 100%; padding: 1rem 1.5rem; }
	.news a { margin: 0; }

	.schedule-time > sup { font-size: 1rem; }
	.schedule-time { font-size: 1.6rem; padding: 0.3rem;}
	h4.accordion-title { padding: 0.3rem; }

	ul.accordion a.accordion-heading-talk {	height: 140px; }
	ul.accordion.tracks a.accordion-heading-talk {	height: 90px;	}
	ul.accordion .schedule-talk a .accordion-title { font-size: 1.4rem; }

}

@media (min-width: 768px) and (max-width: 991px) {

	html { font-size: 54.5% }
	.header-background { height: 500px; }

	.content section,
	.content footer { padding: 2rem 3.5rem; }
	.section-header { margin: 1.5rem 0 3rem 0; }

}

@media (min-width: 992px) and (max-width: 1199px) {
	.header-background { height: 600px; }
	.schedule-time > sup { font-size: 1.9rem; }
	.schedule-time { font-size: 2.5rem; padding: 0.6rem;}
}

@media (min-width: 1200px) and (max-width: 1280px) {
	.header-background { height: 625px; }
}

@media (min-width: 1300px) {

}
